<!DOCTYPE HTML>
<html>
	<head>
		<title>TextEditor</title>

	<style>
		textarea
			{ background-color: black;
			  color: white;
			}
	</style>
	</head>

	<body style="background-color: yellow;">
		Type Code and click "Submit" to compile/interpret the code. Remarks are errors and output is result.
		<center><form id="userinput" action="/" method="POST">
			<select name ="languages">
						<option selected="selected" disabled="disabled">Select Language</option>
				{% for language in languages %}
					<option value="{{language}}">{{language}}</option>
				{% endfor %}
			</select>
		{% if current_lang != '' %}
		<script> document.getElementsByName('languages')[0].value = "{{current_lang}}"; </script>
		{% endif %}
		<div id="inputcode">
			<h3>Editor</h3>
			<textarea rows="50" cols="100" name="prog">{{ prog }}</textarea>
		</div>
		<div id="inputs">
			<h3>Input</h3>
			<textarea rows="4" cols="100" name="input">{{ input }}</textarea>
		</div>
		<div id="remarks">
			<h3>Remarks</h3>
			<textarea rows="4" cols="100" name="remark">{{ remarks }}</textarea>
		</div>
		<div id="output">
			<h3>Output</h3>
			<textarea rows="4" cols="50" name="output">{{ output }}</textarea>
		</div><br>
		<input type="submit" value="Submit">
		</form></center>
	</body>
</html>
